In [1]:
pip install alpha_vantage

Requirement already satisfied: alpha_vantage in c:\users\diana\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: aiohttp in c:\users\diana\anaconda3\lib\site-packages (from alpha_vantage) (3.7.2)
Requirement already satisfied: requests in c:\users\diana\anaconda3\lib\site-packages (from alpha_vantage) (2.22.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.6.2)
Requirement already satisfied: chardet<4.0,>=2.0 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (19.2.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\diana\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (5.0.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\diana\anaconda3\lib\site-packages (from requests->alpha_vantage) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\diana\anaconda3\lib\site-packages (from requests->alpha_vantage) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diana\anaconda3\lib\site-packages (from requests->alpha_vantage) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from alpha_vantage.timeseries import TimeSeries

In [1]:
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key='XZTFR53W0A1VS35N', output_format='pandas', indexing_type='integer')

data, meta_data = ts.get_intraday('AAPL', interval='60min', outputsize='full')

In [2]:
data

                     index   1. open   2. high    3. low  4. close   5. volume
index
0      2020-12-11 20:00:00  122.1700  122.2800  122.1500  122.2800     51696.0
1      2020-12-11 19:00:00  122.1900  122.2900  122.1500  122.1500     32236.0
2      2020-12-11 18:00:00  122.2800  122.4100  122.2000  122.2100     58902.0
3      2020-12-11 17:00:00  122.4100  122.4900  121.7257  122.2998   5410760.0
4      2020-12-11 16:00:00  121.9700  122.5000  121.7300  122.4900  13164869.0
...                    ...       ...       ...       ...       ...         ...
614    2020-10-19 09:00:00  119.8430  120.2922  119.5735  119.6634    877870.0
615    2020-10-19 08:00:00  120.3022  120.4320  119.6933  119.8230    513494.0
616    2020-10-19 07:00:00  120.3222  120.4220  119.8730  120.3921     45465.0
617    2020-10-19 06:00:00  120.5917  120.7514  120.2922  120.4919     46408.0
618    2020-10-19 05:00:00  119.8929  120.8413  119.5934  120.5917    141187.0

[619 rows x 6 columns]

In [72]:
import csv
import pandas as pd

In [73]:
data.to_csv('Apple.csv',index=False)